.card__like-btn {
    background-image: url(../../../images/places/like.svg);
    border: 0;
    background-color: white;
    width: 22px;
    height: 19px;
}

.card__like-btn:hover {
    cursor: pointer;
    background-image: url(../../../images/card/Like-hover.svg);
}

.card__like-btn:focus {
    background-image: url(../../../images/card/Like-active.svg);
}


