.card__like-btn {
    background-image: url(../../../images/places/like.svg);
    border: 0;
    background-color: white;
    width: 22px;
    height: 19px;
}

.card__like-btn:hover {
    cursor: pointer;
}